@model RoutingLookup.Models.Bank
<div class="bank-list header">
	<div style="display:inline-block; width: 200px;">
		<div>
			@Html.LabelFor(model => model.RoutingNumber)
		</div>
	</div>
	<div style="display:inline-block; width: 400px;">
		<div>
			@Html.LabelFor(model => model.Name)
		</div>
	</div>
	<div style="display:inline-block; width: 80px;">
		<div>&nbsp;</div>
	</div>
</div>