@model RoutingLookup.Models.Bank
@{
	string evenodd = (string)ViewData["evenodd"];
}
<div class="item @evenodd">
	<span class="row item-rn">
		<a style="" href="@Url.Action("Bank", "Results", new { id = Model.RoutingNumber }, null)">
			@Html.DisplayFor(model => model.RoutingNumber)
		</a>
	</span>
	<span class="row item-name">
		@Html.DisplayFor(model => model.Name)
	</span>
</div>