@model RoutingLookup.Models.Bank
<div class="heading">
	<div class="row item-rn">
		<div>
			@Html.LabelFor(model => model.RoutingNumber)
		</div>
	</div>
	<div class="row item-name">
		<div>
			@Html.LabelFor(model => model.Name)
		</div>
	</div>
</div>