@model RoutingLookup.Models.BankResultList
@{
    ViewBag.Title = "Results";
}

@{
	Html.RenderPartial("_SearchSmall", Model.Search);
}

@if (Model.Banks.Count() == 0) {
	<div>No results found.</div>
} else {
	<div>@Model.TotalResults results found:</div>
	var first = Model.Banks.FirstOrDefault();
	@Html.DisplayFor(model => first, "BankListHeader", null)
	foreach (var bank in Model.Banks)
	{
		@Html.DisplayFor(model => bank, "BankListItem", null)
	}
	var pagedList = (Model as RoutingLookup.Models.PagedList);
	@Html.DisplayFor(model => pagedList)
}