@model RoutingLookup.Models.BankResult
@{
    ViewBag.Title = "Results";
}

@{
	if (Model.Search != null)
	{
		Html.RenderPartial("_SearchSmall", Model.Search);
	}
}

@if (Model.Bank == null)
{
	<div style="text-align:center;">No results found.</div>
}
else
{
	@Html.DisplayFor(model => Model.Bank)
}
<div class="bank-list">
	<div class="heading">
		<div class="row item-rn">
			<div>
				<a href="javascript: window.history.back();">back to previous search</a>
			</div>
		</div>
	</div>
</div>
